fave-monster-page {
    .name {
        font-size: 150%;
        padding-left: 8px;
    }

    .monster-image {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}